@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

#preloader{
    position: fixed;
    width : 100%;
    height: 100vh;
    z-index: 99999;
}

#loader{
    position: fixed;
    align-items: center;
    justify-content: center;
    width : 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 99999;
}

#loader img{
    width: 300px;
    height: 300px;
    margin-left: 520px;
    margin-top: 200px;
    margin-bottom: 150px;
}

#spinner{
    margin-top: 300px;
}

li.Raunaq{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.form-container{  
    border-radius: 10px;
}
.font{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading{
    justify-content: center;
    align-items: center;
}

.fa-facebook{
    font-size: 8em;
}

img.logo{
    width: 100px;
    height: 100px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.carousel-item{
    height: 90vh;
    min-height: 400px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item img{
    width : 100%;
}

.navbar{
    height: 80px;
    background-color: #fff;
}



.form-label{
    font-family: 'Pacifico', serif;
    font-weight: 400;
}

.btn-1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;

}

.btn-1:hover{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    background-color: #ff9800;
    transition: 1s;
    color: #000;;
}

.heading{
    color: #ff9800;
    font-family: 'Pacifico', cursive;
}

.para{
    margin-top: 30px;
    color: #5a0748;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.nav-link{
    font-family: 'Pacifico';
    font-weight: 700;
}

.nav-item:hover{
    background: #fff;
}

.navbar a{
    position: relative;
    text-decoration: none;
    font-family: serif;
    color: #fcf7f7;
    font-size: 1.0rem;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

.navbar-toggler{
    box-sizing: border-box;
}

.header{
    box-sizing: border-box;
}

.btn-1:hover{
    color : #000;
}

.navbar a::after:hover{
    content: "";
    position: absolute;
    background-color: #ff9800;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.nav-link:hover{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.all{
    color: rgb(254, 255, 251);
}

.hello{
    background: #000;
    opacity: 0.8;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    color: orange;
}

.h1 .hello{
    background: #000;
    opacity: 0.8;
    border-radius: 20px;
}

.testimonials{
    margin: 50px auto;


}

/* #my-scrollbar{
    height: 100%;
} */

.testimonials .row{
    margin-top: 30px;
}

.testimonials .col-md-4{
    margin: 40px auto;
}



.profile img{
    border: 10px solid white;
}

.profile img:hover{
    border: 10px solid white;
    transition: ease-in-out;
}
.user{
    height: 100px;
    border-radius: 50%;
}



.profile h5{
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
    font-family: 'Pacifico', cursive;
}

.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 1s;
}

span{
    font-size: 12px;
    color: #333;
}

.testimonials h1{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    font-family: 'Rowdies', cursive;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after{
    content: "";
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.hello h2{
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    color: orange;
}

.hello:hover{
    background: #000;
    opacity: 0.8;
    border-radius: 20px;
    transition: ease-out 2s;
    font-family: 'Pacifico', cursive;
}

.carousel-caption{
    bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;

}
.carousel-caption h5{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Rowdies', cursive;
    color: #fff7a9;
}

.carousel-caption p{
    font-size: 18px;
    justify-content: center;
    top: 2rem;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
}


.slider-btn{
    margin-top: 30px;
}

.modal-transition{
    transform :.3s ease-out;
}
.user{
    height: 100px;
    width: 200px;
}

.slider-btn .btn{
    columns: white;
    border-radius:0px;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
    color: solid #fff;
    border: 1px solid #fff;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 700;
    color: #fff;
}

div.hello:hover{
    background-size: 550px;
    transition: 1s;
}



.slider-btn .btn:hover{
    background-color: #fff ;
    color: #000;
    transition: 1s;
    columns: white;
    border-radius: 0px;
    padding: 1.5rem 2rem;
    font-size: 20px;
    margin-right: 15px;
    font-weight: 700;
}

.nav-item{
    background-color: #fff;
}

.user{
    width: 350px;
    height: 300px;
}

img.h{
    width: 300px;
    height: 200px;
    border: 2px #fff;
    border-radius: 20px;
}

div.free{
    border: 2px #fff;
    border-radius: 20px;
}
.container{
    margin: none;
    width: 100%;
}
.sk-three-bounce{
    color: #ff9800;
}

@media (min-width : 768px){
    .heading{
        padding: 20px;
    }

    .user{
        width: 200px;
    }

    .para{
        padding: 20px;
    }
    .new{
        margin: 0;
    }

    .mine{
        background-color: #000;
        opacity: 0.7;
        z-index: 1;
    }

    .btn-link{
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
    }

    .carousel-caption{
        padding-top: 30px;
        bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    
    }

    .testimonials{
        display: block;
    }

    .carousel-item img{
        height: 100%;   
    } 
    .carousel-caption h5{
        font-size: 15px;
        font-weight: 200;
        font-family: 'Rowdies', cursive;
        color: #fff7a9;
    }
    .carousel-caption p{
        font-size: 9px;
        display: flex;
        text-align: center;
    } 

    .carousel{
        box-sizing: border-box; 
        margin-right: 0;
        height: 100%; 
    } 
    .navbar{
        height : 10%;
        padding: auto;
        margin: auto;
    }  
    .header{
        padding: auto;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }


    .header-item{
        width: 100%;
        box-sizing: border-box;
        margin: none;
    }
}

@media (min-width : 300px) and (max-width: 767px){
    .heading{
        padding: 20px;
    }

    .user{
        width: 200px;
    }

    .para{
        padding: 20px;
    }
    .new{
        margin: 0;
    }

    .mine{
        background-color: #000;
        opacity: 0.7;
        z-index: 1;
    }

    .btn-link{
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
    }

    .carousel-caption{
        padding-top: 30px;
        bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    
    }

    .testimonials{
        display: block;
    }

    .carousel-item img{
        height: 100%;   
    } 
    .carousel-caption h5{
        font-size: 15px;
        font-weight: 200;
        font-family: 'Rowdies', cursive;
        color: #fff7a9;
    }
    .carousel-caption p{
        font-size: 9px;
        display: flex;
        text-align: center;
    } 

    .carousel{
        box-sizing: border-box; 
        margin-right: 0;
        height: 100%; 
    } 
    .navbar{
        height : 10%;
        padding: auto;
        margin: auto;
    }  
    .header{
        padding: auto;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }


    .header-item{
        width: 100%;
        box-sizing: border-box;
        margin: none;
    }  
}

@media (min-width : 300px) and (max-width: 1000px){
    .heading{
        padding: 20px;
    }

    .user{
        width: 200px;
    }

    .para{
        padding: 20px;
    }
    .new{
        margin: 0;
    }

    .mine{
        background-color: #000;
        opacity: 0.7;
        z-index: 1;
    }

    .btn-link{
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
    }

    .carousel-caption{
        padding-top: 30px;
        bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    
    }

    .testimonials{
        display: block;
    }

    .carousel-item img{
        height: 100%;   
    } 
    .carousel-caption h5{
        font-size: 15px;
        font-weight: 200;
        font-family: 'Rowdies', cursive;
        color: #fff7a9;
    }
    .carousel-caption p{
        font-size: 9px;
        display: flex;
        text-align: center;
    } 

    .carousel{
        box-sizing: border-box; 
        margin-right: 0;
        height: 100%; 
    } 
    .navbar{
        height : 10%;
        padding: auto;
        margin: auto;
    }  
    .header{
        padding: auto;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }


    .header-item{
        width: 100%;
        box-sizing: border-box;
        margin: none;
    }     
}
